<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="Qarzdaftar.qarzdaftar">

    <application
        android:allowBackup="true"
        android:icon="@drawable/daftar_rasm"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Registratsiya.Parolni_tiklash3Activity"></activity>
        <activity android:name=".Registratsiya.Parolni_tiklash2Activity" />
        <activity android:name=".Registratsiya.Parolni_tiklashActivity" />
        <activity android:name=".Asosiy.AsosiyActivity" />
        <activity android:name=".Registratsiya.Registratsiya4Activity" />
        <activity android:name=".Registratsiya.Registratsiya3Activity" />
        <activity android:name=".Registratsiya.Registratsiya2Activity" />
        <activity android:name=".Registratsiya.LogInActivity" />
        <activity android:name=".Registratsiya.Registratsiya1Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>